# --- Kafka Configuration ---
KAFKA_BROKER=kafka:29092
KAFKA_RAW_TRANSACTIONS_TOPIC=raw_transactions
KAFKA_VALIDATED_TRANSACTIONS_TOPIC=validated_transactions
KAFKA_HUMAN_REVIEW_REQUIRED_TOPIC=human_review
KAFKA_FINAL_TRANSACTIONS_TOPIC=final_transactions

# --- Redis Configuration ---
REDIS_HOST=redis
REDIS_PORT=6379

# --- TimescaleDB/PostgreSQL Configuration ---
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=fraud_detection_db
DB_HOST=timescaledb

# --- Batch Ingestor Configuration ---
BATCH_SIZE=1000
BATCH_INTERVAL=5

# --- Generator Configuration ---
GENERATOR_MIN_SLEEP_MS=150
GENERATOR_MAX_SLEEP_MS=2000

# --- Validator Configuration ---
VALIDATOR_MIN_AMOUNT=0
VALIDATOR_MAX_AMOUNT=100000