{
    "transaction_id": {{ transaction_id|tojson }},
    "sender_id": {{ sender_id|tojson }},
    "receiver_id": {{ receiver_id|tojson }},
    "timestamp_iso": {{ timestamp_iso|tojson }},
    "timestamp_ms": {{ timestamp_ms|tojson }},
    "transaction_type": {{ transaction_type|tojson }},
    "channel": {{ channel|tojson }},
    "amount": {{ amount|tojson }},
    "currency": {{ currency|tojson }},
    "location": {{ location|default(geolocation)|tojson }},
    "ip_address": {{ ip_address|tojson }},
    "mac_address": {{ mac_address|tojson }},
    "fingerprint": {{ fingerprint|tojson }},
    "session_id": {{ session_id|tojson }},
    "current_state": {{ status|default('PENDING')|tojson }},
    "is_fraud": {{ is_fraud|default(false)|tojson }},
    "fraud_reason": {{ fraud_reason|default('None')|tojson }},
    "client_type": {{ client_type|default('Standard')|tojson }}
}